mdriver_cm/Flash
mdriver_cpu1/CPU1_FLASH
mdriver_cpu1/CPU1_RAM
*RAM*
*.prefs
#compiler output files
*.d
*.obj
*.out
*.map
*linkInfo.xml
*.d_raw*
#ignore everything in utils except some files
utils
!Dockerfile
!test_build.sh